<div>Semantic Test</div><br>


<div class="segment">
    <div class="ui button hover">
        Follow
    </div>
</div>
<br>
<br>
<div class="segment">
    <div class="ui checkbox">
        <input type="checkbox" name="fun">
        <label>I enjoy having fun</label>
    </div>
</div>
<br>
<br>
<div class="segment">
    <div class="ui dropdown">
        <div class="text">Select</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">Edit</div>
            <div class="item">Remove</div>
            <div class="item">Hide</div>
        </div>
    </div>
</div>


